<a href="https://colab.research.google.com/github/harshnavadiya/dsmltrainer/blob/master/module_3/Module_3_3_String_Operations_v0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String Operations

<br>

## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">Strings</a></li>
<li><a href="#ref1">Indexing</a></li>
<li><a href="#ref2">Escape Sequences </a></li>
<li><a href="#ref3">String Operations</a></li>
<li><a href="#ref4">Quizz </a></li>
<br>
<p></p>
Estimated Time Needed: <strong>15 min</strong>
</div>

<hr>

<a id="ref0"></a>
<h2 align=center>Strings </h2>

 A string is contained within 2 quotes:

In [0]:
"Michael Jackson"

'Michael Jackson'

You can also use single  quotes:

In [0]:
'Michael Jackson'

'Michael Jackson'

A string can be spaces and digits:

In [0]:
'1 2 3 4 5 6 '



x = "This is an escaped \n string"
print(x)

This is an escaped
 string

A string can also be special characters :

In [0]:
'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [0]:
print("hello!")

hello!

We can bind or assign a string to another variable:

In [0]:
Name= "Michael Jackson"
Name

'Michael Jackson'

 <a id="ref1"></a>
<h2 align=center>Indexing </h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

 <img src = "https://ibm.box.com/shared/static/esdu9w118rm1aldff7ff8c9b3kpjdazc.png" width = 600, align = "center"></a>

 The first index can be accessed as follows:

In [0]:
print(Name[13])

o

 We can access index 6:

In [0]:
print(Name[6])

l

Moreover, we can access the 13th index:

In [0]:
print(Name[13])

o

 We can also use negative indexing with strings:

<img src = "https://ibm.box.com/shared/static/rmq8akevtt6uufox3xai7q2kqs4j9kan.png" width = 600, align = "center"></a>

 The last element is given by the  index -1:

In [0]:
print(Name[-1])

n

 The first element can be obtained by  index -15:

In [0]:
print(Name[-15])

M

 We can find the number of characters in a string by using 'len', short for length:

In [0]:
len("Michael Jackson")

15

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [0]:
Name[0:4]

'Mich'

In [0]:
Name[8:12]

'Jack'

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [0]:
Name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [0]:
Name[0:5:2]

'Mca'

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [0]:
Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

 To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [0]:
3*"Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [0]:
Name= "Michael Jackson"
Name= Name+" is the best"
Name

'Michael Jackson is the best'

 <a id="ref2"></a>
<h2 align=center>Escape Sequences  </h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n” is encountered:

In [0]:
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

Similarly, back slash  "t" represents a tab:

In [0]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

 If you want to place a back slash in your string, use a double back slash:

In [0]:
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

 We can also place an "r" before the string to display the backslash:

In [0]:
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<a id="ref3"></a>
<h2 align=center>String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method "upper"; this method converts upper case characters to lower case characters:

In [0]:
A="Thriller is the sixth studio album"
print("before upper:",A)
B=A.upper()
print("After upper:",B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

<br>

The method replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [0]:
A="Michael Jackson is the best"
B=A.replace('Michael', 'Janet')
print(A)
print(B)

Michael Jackson is the best
Janet Jackson is the best

The method "find" finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string "jack" or "el".

In [0]:
Name="Michael Jackson"
Name.find('el')

5

In [0]:
Name.find('Jack')

8

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [0]:
Name.find('Jasdfasdasdf')

-1

 <a id="ref4"></a>
<h2 align=center> Quiz on Strings </h2>

##### What is the value of the variable "A" after the following code is executed? 
A="1"

In [0]:
A ="1"
A

'1'

#### What is the value of the variable "B" after the following code is executed?
`B="2"`

In [0]:
2

2

#### What is the value of the variable "C" after the following code is executed?
`C=A+B`

#### Consider the variable "D": use slicing to print out the first three elements:

In [0]:
D="ABCDEFG"

#### Use a stride value of 2 to print out every second character  of the string "E":

In [0]:
E='clocrkr1e1c1t'

#### Print out a backslash:

#### Convert the variable "F" to uppercase:

In [0]:
F="You are wrong"

#### Consider the variable "G", and find the first index of the sub-string 'snow':

In [0]:
G="Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

#### In the variable "G", replace the sub-string Mary with "Bob":